<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, tempora. Nemo voluptate libero alias est, nesciunt fugit minus dignissimos, nisi laborum quas at. Cumque harum nesciunt doloribus molestiae aperiam culpa?</p>

<%- include("footer") -%>
